html, body {
    height: 100%;
    width: 100%;
}
.boarddiv {
    display: inline-block;
    height: 20%;
    width: 20%;
    margin: 1em;
}
.boardbutton {
    width: 100%;
    height: 100%;
    font-size: 3vw;
    vertical-align: middle;
}


.stopbutton {
    width: 14vw;
    height: 14vw;
    background-color: red;
    margin: 1em;
    font-size: 3vw;
    vertical-align: middle;
}
.clickeffect:active {
    filter: brightness(20%);
}