html, body {
    height: 100%;
    width: 100%;
}
.boarddiv {
    background-color: yellow;
    display: inline-block;
    height: 20%;
    width: 20%;
}
.boardbutton {
    width: 100%;
    height: 100%;
}