<!doctype html>
{% extends "layout.html" %}
{% block body %}
<title>Soundboard</title>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class=page>
  <h1>Soundboard</h1> <button class="stopbutton clickeffect">STOP</button>
</div>
    {% for name in sounds %}
    <div class=boarddiv>
        <button class="boardbutton clickeffect" value="{{name}}">{{name}}</button>
    </div>
    {% endfor %}
{% endblock %}

<script src="{{url_for('static', filename='script.js')}}"> </script>
